In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as snb

# Getting Data

In [7]:
#fetching the data
data=pd.read_csv('test_questions.csv')

In [4]:
#viewing the data from the first 5 rows
data.head()

,ride_id,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity
0,247,2018-05-07,07:06,Kisii,Nairobi,Bus,49
1,256,2018-05-06,11:08,Kisii,Nairobi,shuttle,11
2,275,2018-05-04,05:00,Kisii,Nairobi,shuttle,11
3,285,2018-05-04,09:10,Kisii,Nairobi,shuttle,11
4,286,2018-05-04,09:20,Kisii,Nairobi,shuttle,11

In [5]:
columns = ['seat_number', 'payment_method','payment_receipt','max_capacity']
#columns = ['ride_id', 'travel_date','travel_time','travel_from','travel_to','car_type']
data2=data.drop(columns,axis=1)
data2.head()

KeyError: "labels ['seat_number' 'payment_method' 'payment_receipt'] not contained in axis"

In [ ]:
#converting the date to the day of the week
# 0 is monday
# 6 is Sunday
data2['travel_date'] = pd.to_datetime(data2['travel_date'],infer_datetime_format=False)
data2['travel_date'] = data2['travel_date'].dt.dayofweek
data2.head()

In [ ]:
data2['travel_time'] = data2['travel_time'].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))

In [ ]:
data2.head()

In [ ]:
from numpy import argmax
from numpy import array
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
# define example
travel_from = data2['travel_from']
values = array(travel_from)
print(values)
# integer encode
label_encoder = LabelEncoder()
data2['travel_from']=integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)

In [ ]:
data2.head()

In [ ]:
data2['travel_to'] = pd.get_dummies(data2['travel_to'])
data2['car_type'] = pd.get_dummies(data2['car_type'])
data2

In [ ]:
x = data2.drop(['travel_from'],axis=1)
y = data2.travel_from

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [ ]:
model = RandomForestRegressor(n_estimators=100, criterion='mae', n_jobs=-1)

In [ ]:
#model.fit(x,y)

In [ ]:
pred_train = model.predict(x)
print(mean_absolute_error(pred_train,y))

In [ ]:
#getting insights from our data
data2.info()

data2.describe() #getting statistical insights from our data

# predicting

In [ ]:
data_test = pd.read_csv('test_questions.csv')